---
layout: default
title: Publications
permalink: /publications/
---

<div class="page container">

  <section>
    <p>Click on a publication for the full reference, Bibtex entry and
    suplementary material.</p>
  </section>

  <section class="post-list">
    <div class="container">
      {% for post in site.posts %}
        {% unless post.next %}
          <h2 class="category-title">{{ post.date | date: '%Y' }}</h2>
        {% else %}
          {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
          {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
          {% if year != nyear %}
            <h2 class="category-title">{{ post.date | date: '%Y' }}</h2>
          {% endif %}
        {% endunless %}
        {% if post.hidden %}
           <!-- Hidden {{ post.title }} -->
        {% else %}
          <article class="post-item">
              <span class="post-meta date-label">
                    {% if post.journalshort %}<span class="black">{{ post.journalshort }}</span>{% endif %}
                    {% if post.short == "Thesis" %}<span class="black">{{ post.short }}</span>{% elsif post.short %}{{ post.short }}{% endif %}
              </span>
            <div class="article-title"><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></div>
          </article>
        {% endif %}
      {% endfor %}
    </div>
  </section>

</div>
