<section class="intro">
  <div class="container">
    <p><span itemprop="name">{{ site.author.name }}</span>
    is a <span itemprop="jobTitle">{{ site.author.job }}</span> at
    <a href="https://www.tu-ilmenau.de/en/audio-visual-technology/">TU Ilmenau</a>
    and a visiting researcher at <a href="https://www.aipa.tu-berlin.de">TU Berlin</a>.
    </p>

    <p>He studied physics at the Carl von Ossietzky University Oldenburg, where
    he received his diploma degree with a thesis in the field of psychoacoustics
    and neuroscience in 2008. He received his Doctoral Degree from the
    Technische Universität Berlin on the topic of perceptual assessment of sound
    field synthesis systems in 2014.</p>

    <p>Hagen is interested in all things related to <strong>spatial audio</strong>,
    ranging from <strong>sound field synthesis</strong>,
    <strong>stereophony</strong> and <strong>binaural synthesis</strong> to the
    <strong>modeling of the auditory perception</strong>.</p>

    <p>Here are a few projects Hagen is involved in or responsible for -- further
    details can be found in his <a href="publications/">publications</a>
    and <a href="http://github.com/hagenw">software projects</a>.</p>
  </div>
</section>
