<section class="intro">
  <div class="container">
    <p>Hi, I'm <span itemprop="name">{{ site.author.name }}</span>,
    a Visiting Professor at
    <a
      href="http://www.filmuniversitaet.de/de/studium-bewerbung/master/av-application-design.html">Film
      University Babelsberg KONRAD WOLF</a> and a
    <span itemprop="jobTitle">{{ site.author.job }}</span> at
    <a href="https://www.tu-ilmenau.de/en/audio-visual-technology/">TU Ilmenau</a>,
    for which I'm staying at
    <a href="https://www.aipa.tu-berlin.de">TU Berlin</a> as a visiting
    researcher.
    </p>

    <p>I studied physics at the Carl von Ossietzky Universität Oldenburg, where I
    received my Diploma Degree with a thesis in the field of psychoacoustics and
    neuroscience in 2008. I received a Doctoral Degree from Technische
    Universität Berlin on the topic of perceptual assessment of sound field
    synthesis systems in 2014.</p>

    <p>I'm interested in all things related to <strong>spatial audio</strong>
    ranging from <strong>sound field synthesis</strong>,
    <strong>stereophony</strong> and <strong>binaural synthesis</strong> to the
    <strong>modeling of the auditory perception</strong>.</p>

    <p>Here are a few projects I'm involved in or responsible for -- further
    details can be found in my <a href="publications/">publications</a>
    and <a href="http://github.com/hagenw">software projects</a>.</p>
  </div>
</section>
