<section class="intro">
  <div class="container">
    <p class="lead">Hi, I'm <strong class="author-name" itemprop="name">{{ site.author.name }}</strong>,
    a <em itemprop="jobTitle">{{ site.author.job }}</em> at the
    <a href="https://www.tu-ilmenau.de/en/audio-visual-technology/">TU Ilmenau</a>.</p>

    <p>I'm interested in all things related to <strong>spatial audio</strong>,
    ranging from sound field synthesis, stereophony and binaural synthesis to
    the modeling of the auditory perception
    -- <a href="{{ '/about' | prepend: site.author.url }}" target="_blank">about me</a>.</p>

    <p>Here are a few projects I'm involved in or responsible for -- further
    details can be found in my <a href="publications/">publications</a>
    and <a href="http://github.com/hagenw">software projects</a>.</p>
  </div>
</section>
