<nav class="nav">
  <div class="container">
    <h1 class="logo"><a href="{{ '/' | prepend: site.baseurl }}"><span>{{ site.title }}</span> {{ site.title2 }}</a></h1>
    <div class="navbar">
      <a class="nav menu" href="#"><span class='icons'>☰</span></a>
      <nav role="navigation">
        <ul>
          <li><a href="{{ '/' | prepend: site.baseurl }}">Home</a></li>
          <li><a href="{{ '/publications' | prepend: site.baseurl }}">Publications</a></li>
          <li><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li>
        </ul>
      </nav>
    </div>
  </div>
</nav>
