* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html,
body {
  width: 100%;
  height: 100%;
}

.clearfix {
  &:before {
    content: " ";
    display: table;
  }

  &:after {
    content: " ";
    display: table;
    clear: both;
  }

  *zoom: 1;
}

body {
  background-color: $base-background-color;
}

hr {
  border-top: none;
  border-bottom: 2px solid lighten($light-gray-color, 7%);
  width: 100%;
  margin: $small-spacing 0;
}

.container {
  padding: $base-spacing;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  font-weight: normal;
  font-size: 20px;
}

.explanation {
    padding-top: $small-spacing;
    padding-bottom: $small-spacing;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.link {
  color: #A8A8A8;
  padding-bottom: .05em;

  &:hover,
  &:focus,
  &:active {
    color: $blue-color;
  }
}

.site-header {
  min-height: 80px;
  overflow: auto;
}

.intro {
  .author-name {
    display: inline-block;
    padding: 0 .2em;
    background: lighten($light-gray-color, 15%)
  }

  a {
    @extend .link;
  }

  .container {
    padding-bottom: 0;
  }
}

.logo {
  margin: 0;
  letter-spacing: 2px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: $heading-font-family;

  a {
    @extend .link;
    color: #A8A8A8;
    border-bottom: none;
    &:hover,
    &:focus,
    &:active {
        border-bottom: none;
        color: $blue-color;
    }

  }
  span {
    color: #5e5e5e;
  }
}

.red {
  color: #990000;
}
.blue {
  color: #000099;
}
.nav {
  min-height: 64px;
  margin-top: 10px;
}

.navbar {
  margin: 0;
  position: relative;
  padding: 0;
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: $heading-font-family;

  li {
    display: list-item;
    padding: 0;
    list-style-type: none;
  }

  a {
    @extend .link;
    color: #A8A8A8;
    border-bottom: none;
  }
}

.category-title {
  margin: 1em 0 0.5em 0;

  &:first-child {
    margin-top: 0;
  }
}

.post-item {
  margin-bottom: 0.2em;
  display: block;

  a {
    color: $base-font-color;
    font-weight: 500;
  }

  .article-title {
    display: inline-block;
    width: 85%;
    border-bottom: 1px dashed lighten($light-gray-color, 10%);
  }

  .date-label {
    border: 1px solid lighten($light-gray-color, 10%);
    padding: 0 0.2em;
    margin-left: 1em;
    margin-top: 2px;
    @extend .pull-right;
  }

}

.post-meta {
  color: $medium-gray-color;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 1px;
  font-size: rem(14);
  font-family: $heading-font-family;
}

.post-link,
.post a,
.page a {
  @extend .link;
}

.post {
  @extend .clearfix;
}

.pagination {
  li, a, span {
    display: inline-block;
  }

  a, span {
    font-size: rem(12);
    padding: .5em;
  }

  .prev, .next {
    @extend .link;
  }
}

.share {
  padding-top: $base-spacing;
  margin-top: $base-spacing;

  p {
    margin: 0;
    font-size: rem(14);
    color: #A8A8A8;
  }

  a {
    @extend .link;
  }
}

.site-footer {
  @extend .clearfix;

  padding: 0;
  margin-top: -20px;

  a {
    @extend .link;
  }

  small {
    display: block;
    font-size: rem(12);
    color: #A8A8A8;
  }

  .block {
    display: block;
  }
}

code {
  font-family: "Cousine", monospace;
  font-size: 0.9em;
}

// This applies from 0px to 660px
@media (max-width: 660px) {
  .date-label {
    border: 0;
    margin-left: 0 !important;
    margin-top: 2px;
  }

  .post-item {
    .article-title {
      width: 80%;
    }
  }

  .post-link {
    &:hover,
    &:focus,
    &:active {
      border-bottom: 2px solid transparent;
      color: $blue-color;
    }
  }

  .site-header {
    margin-bottom: 0;
  }

  // footer
  .share {
    margin-top: 0;
    padding-top: 0;
  }

}
