---
layout: default
---

<article class="post container" itemscope itemtype="https://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">
        {% if page.title %}{{ page.title }}{% endif %}
    </h1>
  </header>

  <div class="post-content" itemprop="articleBody">
    <p>
        {% if page.author %}{{ page.author }}, {% endif %}
        {% if page.title %}{% if page.book %}<em>{% else %}"{% endif %}{{ page.title }}{% if page.book %}</em>, {% else %}," {% endif %}{% endif %}
        {% if page.proceedings %}in <em>{{ page.proceedings }}</em>, {% endif %}
        {% if page.bookchapter %}in <em>{{ page.bookchapter }}</em>, {% if page.editor %}Ed. {{ page.editor }}, {% endif %}{% if page.editors %}Eds. {{ page.editors }}, {% endif %}{% endif %}
        {% if page.journal %}{{ page.journal }}{% if page.volume %} <strong>{{ page.volume }}</strong>{% endif %}, {% endif %}
        {% if page.pages %}p. {{ page.pages }} {% endif %}
        {% if page.papernumber %}Paper {{ page.papernumber }}{% endif %}
        {% if page.ebriefnumber %}eBrief {{ page.ebriefnumber }}{% endif %}
        {% if page.year %}({{ page.year }}).{% endif %}
        {% if page.link %} <a href="{{ page.link }}">[&nbsp;link&nbsp;]</a> {% endif %}
        {% if page.paper %} <a href="{{ site.baseurl }}/pubs/{{ page.paper }}">[&nbsp;paper&nbsp;]</a> {% endif %}
        {% if page.presentation %} <a href="{{ site.baseurl }}/pubs/{{ page.presentation }}">[&nbsp;presentation&nbsp;]</a> {% endif %}
        {% if page.poster %} <a href="{{ site.baseurl }}/pubs/{{ page.poster }}">[&nbsp;poster&nbsp;]</a> {% endif %}
    </p>
    {{ content }}
  </div>

</article>
