---
layout: default
---

<article class="post container" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%Y" }}</time>
        {% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}
        {% if page.title %} • <h1 class="post-title" itemprop="name headline">{%
            if page.book %}<i>{% endif %}{{ page.title }}{% if page.book
                %}</i>{% endif %}</h1>{% endif %}
    </p>
    <h1 class="post-title" itemprop="name headline">{{ page.author }} - {{
        page.title }}, {{ page.journal }}, {{ page.pages }} ({{ page.year }})</h1>
  </header>
  <div class="post-content" itemprop="articleBody">
    {{ content }}
    {% include post-share.html %}
  </div>
</article>

{% include comments.html %}
